In [2]:
import pandas as pd 
import numpy as np

## QUESTIONS:

1) Is there an area where more pets are found? 
2) What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?
3) What is the ratio of incoming pets vs. adopted pets?
4) What is the distribution of the types of animals in the shelter?
5) What are the adoption rates for specific breeds?
6) What are the adoption rates for different colorings?
7) About how many animals are spayed/neutered each month?

In [3]:
outcomes = pd.read_csv('aac_outcomes.csv')
outcomes.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [4]:
intakes = pd.read_csv('aac_intakes.csv')
intakes.sort_values(by='age_upon_intake', ascending=False).head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
11806,9 years,A674871,Dog,Cardigan Welsh Corgi Mix,Black,2014-03-19T14:05:00.000,2014-03-19T14:05:00.000,Oliver Loving Trl in Austin (TX),Normal,Stray,Chip,Intact Male
6110,9 years,A699947,Dog,German Shorthair Pointer/Brittany,Brown/White,2015-04-04T16:06:00.000,2015-04-04T16:06:00.000,Wexford Dr And Blackmoor Dr in Austin (TX),Normal,Stray,Daisy,Intact Female
35065,9 years,A695891,Dog,Cocker Spaniel Mix,White/Buff,2015-01-25T08:31:00.000,2015-01-25T08:31:00.000,Abilene Trl & Open Range in Austin (TX),Normal,Stray,Cuddles,Spayed Female
11916,9 years,A730301,Dog,Miniature Schnauzer Mix,Cream,2016-07-01T16:13:00.000,2016-07-01T16:13:00.000,Peyton Gin And Hunters Trc in Austin (TX),Normal,Stray,*Bentley,Intact Male
6205,9 years,A633402,Dog,Pit Bull/Labrador Retriever,Red,2015-05-18T13:40:00.000,2015-05-18T13:40:00.000,1708 Magazine in Austin (TX),Normal,Stray,Canela,Spayed Female

In [5]:
in_out = pd.read_csv('aac_intakes_outcomes.csv')
in_out.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

## QUESTION 1: Is there an area where more pets are found? 

**Method**: Grouped the intake data by "found_location" column, sorted values by descending order, then took the top 5 returned values.

**Answer**: The top 5 places where pets are found are: Austin (14,443 animals), Outside Jurisdiction (948 animals), Travis (921 animals), 7201 Levander Loop in Austin (517 animals), and Del Valle (411 animals)

In [6]:
location_list = intakes.groupby('found_location').size().sort_values(ascending=False)
location_list[:5]

found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
dtype: int64

## QUESTION 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

**Method**: Created separate month and year columns for analysis using pd.DatetimeIndex. Calculated the average pets found each month by indexing the year 2015 and dividing by 12. For the months with higher numbers, I sorted by using groupby('month') in the year 2015 and sorting by descending order. I also looked at all of the data across years to see if the data in 2015 was consistent with the overall trend in the data.

**Answer**: There were an average of 1559 pets found per month in the year 2015. The months of **June**, **May** and **October** had the highest 3 numbers both in 2015 (2189, 2094 and 1740, respectively); this is consistent when looking at the entire dataset (June, May and October also have the highest average numbers across all years in the dataset).

In [7]:
intakes.datetime = pd.to_datetime(intakes.datetime)
intakes.datetime2 = pd.to_datetime(intakes.datetime2)

intakes.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14 18:43:00,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,2013-10-21 07:59:00,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18 12:46:00,2017-02-18 12:46:00,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [8]:
# create separate month and year columns for analysis
intakes['year'] = pd.DatetimeIndex(intakes.datetime).year
intakes['month'] = pd.DatetimeIndex(intakes.datetime).month 
intakes.groupby('month').size().sort_values(ascending=False)

month
5     7976
10    7674
6     7473
3     6842
11    6629
7     6550
8     6511
9     6507
12    6131
4     6119
1     6025
2     5750
dtype: int64

In [9]:
intakes_2015 = intakes[intakes.year == 2015].count()[1] #18712 pets found in 2015
avg_intake_2015 = intakes_2015/12
int(avg_intake_2015)

1559

In [10]:
intakes[(intakes.year == 2015)].groupby('month').size().sort_values(ascending=False)

month
6     2189
5     2094
10    1740
8     1718
7     1635
9     1591
4     1543
11    1411
3     1346
1     1198
12    1128
2     1119
dtype: int64

## QUESTION 3: What is the ratio of incoming pets vs. adopted pets?

**Method**: created an 'adopted' index from the intakes_outcomes data. To calculate the ratio of incoming pets vs. adopted pets, I divided the total incoming pets by the number of adopted pets.

**Answer**: According to the intakes_outcomes data, the ratio of incoming pets to adoption is about 2.37:1. In other words, out of 237 incoming pets 100 are adopted.

In [11]:
adopted = in_out[in_out.outcome_type == 'Adoption']
adopted_count = len(adopted)
total_intake = in_out.count()[1]

In [12]:
adoption_ratio = round(total_intake/adopted_count, 2)
adoption_ratio

2.37

## QUESTION 4: What is the distribution of the types of animals in the shelter?

**Method**: To find the count of each type of animal in the shelter, I grouped the intakes_outcomes data by 'animal_type' and used the size() function.

**Answer**: According to the data, the distribution of animal types in the shelter is as follows:
**Bird**: 339, **Cat**: 29,539, **Dog**: 45,366, **Other**: 4,428

In [13]:
in_out.groupby('animal_type').size()

animal_type
Bird       339
Cat      29539
Dog      45366
Other     4428
dtype: int64

## QUESTION 5: What are the adoption rates for specific breeds?

**Method**: To find the adoption rates for the top 5 dog breeds, I used my previous df of adopted pets and indexed for 'animal_type'=='Dog' (to find list of all adopted dogs). I then grouped the adopted_dogs by breed in descending order, and sliced the top 5 results. To find the percentage for each breed, I divided the count of each dog breed by the total row count of adopted_dogs. 

**Answer**: According to the data, the top 5 adopted dog breeds are: 1) **Labrador Retriever Mix** 2) **Pit Bull Mix** 3) **Chihuahua Shorthair Mix** 4) **German Shepherd Mix** 5) **Australian Cattle Dog Mix**

The percentage distribution (out of all adopted dogs) are as follows: 
* Labrador Retriever Mix : 11.51%
* Pit Bull Mix : 11.29%
* Chihuahua Shorthair Mix : 11.03%
* German Shepherd Mix : 4.48%
* Australian Cattle Dog Mix : 2.95%

In [14]:
adopted_dogs = adopted[adopted.animal_type == 'Dog']
adopted_dogs.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
12,16 years,A200922,1997-10-03 00:00:00,Foster,Adoption,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-22 09:44:00,...,"(15.0, 17.5]",2013-10-03 15:47:00,10,2013,2013-10,Thursday,15,1.0,49 days 17:57:00.000000000,49.747917
14,17 years,A210457,1999-06-01 00:00:00,Foster,Adoption,Neutered Male,6205,17.0,"(15.0, 17.5]",2016-10-07 12:34:00,...,"(15.0, 17.5]",2016-09-28 12:05:00,9,2016,2016-09,Wednesday,12,1.0,9 days 00:29:00.000000000,9.020139
22,15 years,A226069,2000-06-17 00:00:00,Foster,Adoption,Neutered Male,5475,15.0,"(12.5, 15.0]",2015-10-29 15:00:00,...,"(12.5, 15.0]",2015-10-06 12:29:00,10,2015,2015-10,Tuesday,12,1.0,23 days 02:31:00.000000000,23.104861
32,15 years,A249087,2001-01-02 00:00:00,Foster,Adoption,Spayed Female,5475,15.0,"(12.5, 15.0]",2016-11-15 10:37:00,...,"(12.5, 15.0]",2016-08-17 14:05:00,8,2016,2016-08,Wednesday,14,1.0,89 days 20:32:00.000000000,89.855556
48,11 years,A274546,2002-05-25 00:00:00,NaN,Adoption,Spayed Female,4015,11.0,"(10.0, 12.5]",2013-11-16 12:24:00,...,"(10.0, 12.5]",2013-11-13 18:16:00,11,2013,2013-11,Wednesday,18,1.0,2 days 18:08:00.000000000,2.755556

In [15]:
print(list(adopted_dogs)) # get column names

['age_upon_outcome', 'animal_id_outcome', 'date_of_birth', 'outcome_subtype', 'outcome_type', 'sex_upon_outcome', 'age_upon_outcome_(days)', 'age_upon_outcome_(years)', 'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month', 'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_hour', 'outcome_number', 'dob_year', 'dob_month', 'dob_monthyear', 'age_upon_intake', 'animal_id_intake', 'animal_type', 'breed', 'color', 'found_location', 'intake_condition', 'intake_type', 'sex_upon_intake', 'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)', 'age_upon_intake_age_group', 'intake_datetime', 'intake_month', 'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter', 'time_in_shelter_days']

In [16]:
top_5_dogs = adopted_dogs.groupby('breed').size().sort_values(ascending=False)[:5]
top_5_dogs

breed
Labrador Retriever Mix       2368
Pit Bull Mix                 2324
Chihuahua Shorthair Mix      2270
German Shepherd Mix           922
Australian Cattle Dog Mix     607
dtype: int64

In [17]:
dog_dict = top_5_dogs.to_dict()
dog_dict

{'Labrador Retriever Mix': 2368,
 'Pit Bull Mix': 2324,
 'Chihuahua Shorthair Mix': 2270,
 'German Shepherd Mix': 922,
 'Australian Cattle Dog Mix': 607}

In [18]:
for breed, count in dog_dict.items():
    print(f'{breed} : {round((count/(adopted_dogs.count()[1]) * 100), 2)}%')

Labrador Retriever Mix : 11.51%
Pit Bull Mix : 11.29%
Chihuahua Shorthair Mix : 11.03%
German Shepherd Mix : 4.48%
Australian Cattle Dog Mix : 2.95%

## QUESTION 6: What are the adoption rates for different colorings?

**Method**: Unlike the previous question, I did not have to use an index for this (the question did not specify an animal type). I grouped the adopted animal df by 'color', and took the top 5 results (with ascending=False). I then divided the count of each color by the total count of adopted animals to find the percentages. 

**Answer** Top 5 Colors are 1) **Black/White** 2) **Black** 3) **Brown Tabby** 4) **Tan/White** 5) **Brown/White**

Distribution is: 
* Black/White : 11.13%
* Black : 8.01%
* Brown Tabby : 5.57%
* Tan/White : 3.46%
* Brown/White : 3.3%

In [19]:
top_5_color = adopted.groupby('color').size().sort_values(ascending=False)[:5] #top 5 colors

In [20]:
color_dict = top_5_color.to_dict()
color_dict

{'Black/White': 3738,
 'Black': 2692,
 'Brown Tabby': 1871,
 'Tan/White': 1163,
 'Brown/White': 1110}

In [21]:
for color, count in color_dict.items():
    print(f'{color} : {round(((count/adopted_count) * 100), 2)}%')

Black/White : 11.13%
Black : 8.01%
Brown Tabby : 5.57%
Tan/White : 3.46%
Brown/White : 3.3%

## QUESTION 7: About how many animals are spayed/neutered each month?

**Method**: To find how many animals are spayed/neutered each month, I decided to answer with the historical average across the entired intakes_outcomes dataset. I first grouped by 'sex_upon_intake', and then by 'sex_upon_outcome' to roughly compare sex status between intake and outcome. I then calculated the total number of neutered animals across the 6 year span by using a boolean index where the 'sex_upon_intake' is not equal to 'sex_upon_outcome', and also made sure that I did not include the columns where sex is unknown (the number of uknown pets is the same for both 'sex_upon_intake' and 'sex_upon_outcomes', but I just wanted to be sure). Then, I divided the total_neutered count by the number of months in the data set (72), to find the monthly average.   

**Answer**: An average of about 417 animals are neutered/spayed each month

In [22]:
in_out.groupby('sex_upon_intake').size()

sex_upon_intake
Intact Female    23704
Intact Male      25317
Neutered Male    12708
Spayed Female    11153
Unknown           6789
dtype: int64

In [23]:
in_out.groupby('sex_upon_outcome').size()

sex_upon_outcome
Intact Female     9308
Intact Male       9732
Neutered Male    28293
Spayed Female    25549
Unknown           6789
dtype: int64

In [25]:
year_count = len(intakes.groupby('year').size()) #6 years of data represented
month_count = year_count * 12

In [ ]:
total_neutered = len(in_out[(in_out.sex_upon_intake != in_out.sex_upon_outcome) & (in_out.sex_upon_intake != 'Unknown') & (in_out.sex_upon_outcome != 'Uknown')])
total_neutered # total neutered is 29,988
neutered_per_month = total_neutered/month_count #Divide total neutered by months represented in data 
neutered_per_month

416.5